.loading {
  z-index: 999;
  height: calc(100vh - 56px - 111px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #003d7e !important;
  stroke-width: 3% !important;
}