:host {
  background-image: url("../../assets/images/university.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
}

.login-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  width: auto;
  border: 3px solid #013d7e;
  border-radius: 10px;
  background-color: white;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

button {
  background-color: #013d7e !important;
  font-size: 16px;
}