<div class="login-page">
    <mat-card>
        <mat-card-title>
            <img src="assets/images/lasalle.png" layout-fill class="logo-university" />
        </mat-card-title>
        <mat-card-content>
            <mat-label class="mat-title">Communify</mat-label>
        </mat-card-content>
        <mat-card-content>
            <img src="assets/images/google.png" layout-fill class="logo-google">
        </mat-card-content>
        <mat-card-content>
            <button mat-raised-button color="primary" (click)="goToSteps()">Acessar com o Google</button>
        </mat-card-content>
    </mat-card>
</div>