<div class="vertical-center">
    <div class="center">
        <img src="assets/images/lasalle.png" class="ion-align-self-end" />
        <div class="display-center" style="padding-bottom: 1em">
            <label>Communify</label>
        </div>
        <div class="display-center">
            <div style="background-color: white">
                <img src="assets/images/google.png">
                <label color="dark">Acessar com o Google</label>
            </div>
        </div>
    </div>
</div>