:host {
  background-image: url("../../assets/images/university.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
}

.login-page {
  align-items: center;
  justify-content: center;
  display: inline-grid;
  margin: 50px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card {
  border: 3px solid #013d7e;
  border-radius: 10px;
  background-color: white;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.logo-university {
  width: 50%;
}

.logo-google {
  width: 15%;
}
