.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field, .next-step {
  margin-top: 16px;
}

.font-same-address {
  font-size: 12px;
}

.text-justify {
  margin-top: 10px;
  text-align: justify;
}

.text-right {
  text-align: right;
}

.validate-access {
  margin-left: 5px;
  margin-top: 10px;
}