<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="moodleFormGroup">
    <form [formGroup]="moodleFormGroup">
      <ng-template matStepLabel>{{ LABEL_STEP_ONE }}</ng-template>
      <mat-form-field>
        <mat-label>E-mail do Moodle</mat-label>
        <input matInput placeholder="Digite o e-mail..." formControlName="email" required style="width: 100%;">
      </mat-form-field>
      <mat-checkbox formControlName="same" class="font-same-address" (click)="checkSameEmail()">Mesmo do Classroom
      </mat-checkbox>
      <br>
      <mat-card-content class="text-right next-step">
        <button mat-raised-button color="primary" matStepperNext (click)="setMoodleEmail()">Continuar</button>
      </mat-card-content>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>{{ LABEL_STEP_TWO }}</ng-template>
    <p class="text-justify">Eu, <b>{{ currentUser.name }}</b>, reconheço como verdadeira e de responsabilidade própria
      os endereços de e-mail
      informados, que são: <br><br>
      <b>Moodle: </b> {{ currentUser.moodleEmailAddress }} <br><br>
      <b>Classroom: </b> {{ currentUser.classroomEmailAddress }} <br><br>
      <span class="mat-small text-justify">{{ PRIVACY_MESSAGE }}</span>
    </p>
    <div class="text-right">
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-raised-button color="primary" matStepperNext>Continuar</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{ LABEL_STEP_THREE }}</ng-template>
    <p class="mat-caption" class="text-justify">{{ PRIVACY_CONFIRMED }}</p>
    <div class="text-right">
      <button mat-raised-button color="link" (click)="goToHome()" matStepperNext>Acessar</button>
    </div>
  </mat-step>
</mat-vertical-stepper>