.table-header {
  font-size: 18px;
  color: #003d7e;
  background-color: #fff;
}

td {
  padding: 15px 24px 15px !important;
}

.no-tasks-found {
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}
